@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #79c000;
    --color-background: white;
    --color-background-secondary: #F5F5F5;
    --color-background-tertiary: #E5E5E5;
    --color-label: #B3B3B3;
    --color-info: #808080;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-selection: #d4d4d4;
  }
}

* {
  user-select: none;
}

*::selection {
  background-color: var(--color-selection);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}