@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 82 100% 38%;
    --color-background: 0 0% 100%;
    --color-background-secondary: 0 0% 96%;
    --color-background-tertiary: 0 0% 90%;
    --color-label: 0 0% 70%;
    --color-info: 0 0% 50%;
    --color-warning: 36 100% 67%;
    --color-selection: 0 0% 83%;

    --color-shadow: hsla(0, 0%, 0%, 0.1);
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --color-primary: 82 70% 38%;
      --color-background: 0 0% 4%;
      --color-background-secondary: 0 0% 9%;
      --color-background-tertiary: 0 0% 15%;
      --color-label: 0 0% 70%;
      --color-info: 0 0% 50%;
      --color-warning: 36 100% 67%;
      --color-selection: 0 0% 83%;

      --color-shadow: hsla(0, 0%, 30%, 0.0);
    }
    
  }
}

* {
  user-select: none;
}

*::selection {
  background-color: var(--color-selection);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}